<div id="yield_header">
  <h1>A List of All Devices - <%= link_to 'add', new_device_path %></h1>
</div>

<table>
  <tr>
    <th>Device</th>
    <th>Description</th>
  </tr>
<% @devices.each do |d| %>
  <tr>
    <td><%= d.name %></td>
    <td><%= d.notes %></td>
  <tr>
<% end %>
</table>
