<h1>Devices</h1>
<hr/>
<br/>
<table>
  <tr>
    <th>Device</th>
    <th>Description</th>
  </tr>
<% @devices.each do |d| %>
  <tr>
    <td><%= d.name %></td>
    <td><%= d.notes %></td>
  <tr>
<% end %>
</table>
