<div id="yield_header">
  <h1>A List of All Devices<%= link_to '+', new_device_path %></h1>
</div>

<table>
  <tr>
    <th>Inv #</th>
    <th>Mfg/Model</th>
    <th>Description</th>
  </tr>
<% @devices.each do |d| %>
  <tr>
    <td><%= d.inventory_number %></td>
    <td><%= d.mfg_model %></td>
    <td><%= d.notes %></td>
  <tr>
<% end %>
</table>
