#container {
  padding: 0;
  margin:  0;
}
#main_tabnav {
  margin-top: .5em;
  margin-right: 2em;
  padding: .6em 0em 0em 0em;
  border: 1px solid #C1DAD7;
  float:right;
  background: #fff;
  font-size: .9em;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;	
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#main_tabnav ul {
  margin: 0em 0 1em 0;
/*  text-align: left; */
  font: bold .9em verdana, arial, sans-serif;
  list-style-type: none;
  padding: .3em .5em 0em .5em;
}
#main_tabnav li {
  display: inline;
  padding: 0 .2em 0 .2em;
}
#main_tabnav a.active  {
  color:       #fc0;
  position: relative;
  padding-top: .4em;
  font-weight: bold;
}

#main_tabnav li a {
  padding: .4em 1em;
  background-color: #559900;
  color: #FFF;
  font-weight: normal;
  margin-right: 0px;
  text-decoration: none;
  letter-spacing: 1px;
  background: #036;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;	
  -moz-border-radius: 3px;
  border-radius: 10px;
}
#tab {
  padding-top: 2px;
}
  
#main_tabnav a:hover {
  padding-top: .4em;
  font-weight: bold;
  color: #4A9900;
  color:       #fc0;
}


#header {
  background: #036;
  padding: 0;
  border-bottom: 2px dashed #E6EAE9;
}
#header h1 {
  color:       #fc0;
  font-size:   1.7em;
  font-weight: normal;
  margin:      0 0 0 .5em;
  padding:     .3em 0 .3em 0;
  text-align:  left;
  letter-spacing: 0px;
}

#header h1 a:link, #header h1 a:visited {
  color: #fc0;
  text-decoration: none;
}

#header h1 span {
  letter-spacing: 1px;
  color: #fff;
  font-family:"Lucida Grande",arial,sans-serif;
  font-size: .5em;
  font-weight:normal;
}

body {
  font: normal .8em auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  background: #E6EAE9;
  margin: 0;
}

a {
  color: #c75f3e;
}

#content {
  padding: 0;
  padding-top: .5em;
  margin:  0 5em 0 2em;
  background: #E6EAE9;
}
#main {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  background: #fff;
  width 90%;
  border: 1px solid #C1DAD7;
}
.all-four-rounded-corners {
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;	
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#yield {
  padding: 1em;
  margin: 0;
}
#yield table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #aaa;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}

.dark{
    background:#f3f3f3;
}
.light{
    background:#FFF;
}


#yield_header h1 {
  margin:  0;
  padding: 0 0 .7em 0;
  margin-bottom: .5em;
  vertical-align: center;
  font-family: "Lucida Grande",arial,sans-serif;
  font-size:14px;
  font-weight:bold;
  letter-spacing: .2em;
}
