<div id="yield_header">
  <h1>A List of All Users - <%= link_to 'add', new_user_path %></h1>
</div>

<table>
  <tr>
    <th>Full Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td><%= u.display_name %></td>
    <td><%= u.username %></td>
    <td><%= u.email %></td>
  </tr>
<% end %>
</table>
